{% extends "index_all_problems.html" %}

{% block navbar %}
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation"><a href="{% url 'index' %}">Online Judges</a></li>
  <li role="presentation"><a href="{% url 'tags'  %}">Tags</a></li>
  <li role="presentation"><a href="{% url 'all_problems'  %}">All Problems</a></li>
  <li role="presentation"><a href="{% url 'new_problem'  %}">Enter a new Problem</a></li>
  <li role="presentation" class="active"><a href="{% url 'query'  %}">Query</a></li>
</ul>
{% endblock navbar %}
