{% extends "index.html" %}

{% block content %}
{% block problems %}
<div class="table-responsive">
  <table class="table table-condensed table-striped table-bordered table-hover no-margin">
    <thead>
      <tr>
        <th style="width:2%">
        </th>
        <th style="width:18%">Name</th>
        <th style="width:15%" class="hidden-phone">Online Judge</th>
        <th style="width:7%" class="hidden-phone">Access</th>
        <th style="width:36%" class="hidden-phone">Tags</th>
        <th style="width:15%" class="hidden-phone">Date</th>
        <th style="width:7%" class="hidden-phone">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for problem in problem_list %}
        <tr>
        <td>
          <input class="no-margin" type="checkbox">
        </td>
        <td>
          <span class="name">{{ problem.name }}</span>
        </td>
        <td class="hidden-phone">{{ problem.get_online_judge_display  }}</td>
        <td class="hidden-phone">{{ problem.get_access_display  }}</td>
        <td class="hidden-phone">
          <span class="label label label-info">New</span>
        </td>
        <td class="hidden-phone">{{problem.date_created}}</td>
        <td class="hidden-phone">
          <form action="{% url 'view_problem'  %}" method="get">
            <button class="btn btn-xs"  name="pid" class="list-group-item"  value="{{problem.id}}">
              View
            </button>
          </form>
        </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{%endblock problems %}
{% endblock content%}

{% block navbar %}
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation"><a href="{% url 'index' %}">Online Judges</a></li>
  <li role="presentation"><a href="{% url 'tags'  %}">Tags</a></li>
  <li role="presentation"><a href="{% url 'all_problems'  %}">All Problems</a></li>
  <li role="presentation"><a href="{% url 'new_problem'  %}">Enter a new Problem</a></li>
  <li role="presentation" class="active"><a href="{% url 'query'  %}">Query</a></li>
</ul>
{% endblock navbar %}
