{% extends 'index.html' %}
{% load bootstrap3 %}


{% block content %}
    <h1>New Problem </h1>
    <form method="POST" class="post-form" action="." enctype="multipart/form-data">{% csrf_token %}
      <table>
      {% bootstrap_form form  %}
      </table>
      <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}


{% block navbar %}
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation"><a href="{% url 'index' %}">Online Judges</a></li>
  <li role="presentation"><a href="{% url 'tags'  %}">Tags</a></li>
  <li role="presentation"><a href="{% url 'all_problems'  %}">All Problems</a></li>
  <li role="presentation" class="active"><a href="{% url 'new_problem'  %}">Enter a new Problem</a></li>
</ul>
{% endblock navbar %}
